---
title: Curriculum Vitae — Arthur Vercruysse
og:
  type: website
  url: https://rien.maertens.io/cv/
  image: https://rien.maertens.io/img/rienmaertens.png
  'image:alt': Arthur Vercruysse
  description: Curriculum Vitae of Arthur Vercruysse, a computer scientist.

html_class: cv
pdf_stylesheets:
  - /assets/css/pdf.scss
  - /assets/css/fira-mono.css.erb
---
section
  markdown:
    # Arthur Vercruysse

    **Computer scientist**
    Embracing challenging problems with no apparent simple solution.
    Trying to contribute to the FOSS (Free and Open-Source Software) community.

section
  markdown:
    ## Contact
      - [Eeklostraat 210, Ghent, Belgium](https://www.openstreetmap.org/relation/897671)
      - [04/87 19 76 48](tel:04-87197648)
      - [github.com/ajuvercr](https://github.com/ajuvercr)
      - [arthur.vercruysse@outlook.com](mailto:arthur.vercruysse@outlook.com)

section
  markdown:
    ## Experience
    - **Developer** at UGent (HPC division) as a student job, with 12 weeks of experience.

    - **Finalist** in 2018 [Java Challenge Belgium](https://editx.eu/it-challenge/java-challenge-belgium-2018-fps-finance).

    - **Developer** for [Nutritop](https://nutritop.be) as a student job
      and still maintaining it.

    - **Active board member** of the student hacker space
      [Zeus WPI](https://zeus.gent), with a passion for open source software.

    - **Deliveroo courier** since March 2017.
    
    - **Gamma** assistant as a student job in 2016.

    - **Participant** in the [Mini Maker Faire](https://www.makerfairegent.be/) 2019 Robotcompetition.

section
  markdown:
    ## Technologies

    **Programming:**<br>Rust, Java, Python, C, C++, Javascript, GLSL

    **Frameworks:**<br>Rocket, Tokio, Spring, Android, React, VueJs

    **Software:**<br>Linux, Git, PostgreSQL, LaTeX

section
  markdown:
    ## Education

    - **Computer Science** at Ghent University
      - **Bachelor of Science.** 2016 - 2019

      - **Master of Science.** 2019 - 2021 (work in progress, with a focus on mathematical courses)
        
section
  markdown:
    ## Hobbies
      - **Climbing** to the top with recreational bouldering.
      - **Discovering** and learning technologies.
      - **Engineering** robot hard- and software.
      - **Creating** seemingly useless applications.
      - **Tinkering** with Unix systems: servers, laptops …


section.center.hidden-print
  a href='/cv.pdf' Download as PDF

