---
title: Curriculum Vitae — Arthur Vercruysse
og:
  type: website
  'image:alt': Arthur Vercruysse
  description: Curriculum Vitae of Arthur Vercruysse, a computer scientist.

html_class: cv
pdf_stylesheets:
  - /assets/css/pdf.scss
  - /assets/css/fira-mono.css.erb
---
section.big
  h1 Arthur Vercruysse
  p
    strong Computer scientist&nbsp;
    ' Embracing challenging problems with no apparent simple solution. Contributing to the FOSS (Free and Open-Source Software) community.


section.contact
  h2 Contact
  ul
    li
      a(href="mailto:arthur.vercruysse@outlook.com")arthur.vercruysse@outlook.com
    li
      a(href="tel:04-87197648")04/87 19 76 48
    li
      a(href="https://github.com/ajuvercr")github.com/ajuvercr
    li
      a(href="https://www.openstreetmap.org/relation/897671")Ghent, Belgium

section.big
  h2 Experience
  ul
    li.experience
      h3 PhD Student Ghent University
      p.title Remote - Full-time employment
      p.date Februari 2022 - present
      p.desc Generating and maintaining linked data live knowledge graphs, with provenance.
    li.experience
      h3 DPG Media IT
      p.title Remote - Full-time employment
      p.date September 2021 - Februari 2022
      p.desc Developing and maintaining OIDC login system over multiple domains, including automatic SSO and multiple tenancy.
    li.experience
      h3 Redpencil.io
      p.title Ghent - Student Job
      p.date June 2021 - September 2021
      p.desc
        ' Optimize and expand microservice based
        a (href="https://github.com/mu-semtech") mu-semtech
        =< 'open linked data stack.'

    li.experience
      h3 Sigasi nv
      p.title Ghent - Internship
      p.date July 2020 - September 2020
      p.desc Assisting R&D with the development of Sigasi studio (eclipse based editor).

    li.experience
      h3 Zeus WPI
      p.title Ghent University - Vice President
      p.date July 2019 - June 2020
      p.desc
        ' Co-organizing events and leading student hacker space
        a (href="https://zeus.gent")Zeus WPI
        ' .

    li.experience
      h3 High Performance Computing
      p.title Ghent University - Student job
      p.date July 2019 - December 2019
      p.desc Assisting R&D and backend development on hpc cluster overview.

section
  h2 Education
  ul
    li.experience
      h3 Ghent Univeristy
      ul
        li
          p.desc
            ' Master of Science in
            strong Computer Science
          p.date September 2019 - June 2021
        li
          p.desc
            ' Bachelor of Science in
            strong Computer Science
          p.date September 2016 - June 2019

  h2 Technologies
  ul
    li
      strong Programming:
      p Rust, Java, Python, C, C++, Javascript, Common Lisp, GLSL, Julia, Haskell, Elixir
    li
      strong Frameworks:
      p Rocket, Tokio, Spring, Android, React, VueJs, CUDA.jl, nanoc
    li
      strong Software:
      p Unix, Git, PostgreSQL, LaTeX, MS Office

  h2 Extra
  ul
    li
      p
        strong Active board member
        =< 'of the student hacker space '
        a (href="https://zeus.gent")Zeus WPI
        | , with a passion for open source software.
      p.date September 2017 - Present

  h2 Hobbies
  ul.hobbies
    li
      strong Climbing
      =< 'to the top with recreational bouldering.'
    li
      strong Creating
      =< 'seemingly useless applications.'
    li
      strong Tinkering
      =< 'with Unix systems like servers, raspberry pi, ...'
    / li
    /   p
    /     strong Java finalist
    /     =< 'in '
    /     a (href="https://editx.eu/it-challenge/java-challenge-belgium-2018-fps-finance")Java Challenge Belgium
    /     =< 'by FPS finance'
    /   p.date March 2018

      / p.desc with a focus on mathematical courses
  / h2 Languages
  / ul.contact
  /   li
  /     strong Dutch
  /     =< 'native tongue'
  /   li
  /     strong English
  /     =< 'fluent'
  /   li
  /     strong French
  /     =< 'sufficient'
