/*! =====================
   CV Variables
   ===================== */
$baseline: 24px;

/*! =====================
   Fonts
   ===================== */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FiraMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/FiraMono-Bold.otf') format('opentype');
}
